<div class="container_grand-card">
  <div class="grand-card_photo">
    <img
      src="https://th.bing.com/th/id/OIP.1_wT34smueGVZtiwGZGa5gHaDt?w=322&h=174&c=7&r=0&o=5&pid=1.7"
      alt=""
      height="200px"
      srcset="">
  </div>

  <div class="grand-card_title">
    <h1><a href="#">Promoções de Jogos na Steam</a></h1>
  </div>

  <div class="grand-card_description">
    <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque suscipit tellus non convallis hendrerit. Duis vel congue orci, sit amet eleifend turpis. Morbi semper gravida venenatis. Proin malesuada interdum porta. Nunc rhoncus massa id neque fermentum sagittis. Pellentesque lacinia fringilla justo. Cras nec bibendum felis. Suspendisse placerat efficitur ultrices. In hac habitasse platea dictumst.</a></p>
  </div>
</div>