.container_title-home {
  color: white;
}
.container_title-home > h1 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 120px;
  font-family: quicksand;
  display: flex;
  justify-content: center;
}

.container_title-home > hr {
  margin-top: 10px;
  margin-bottom: 10px;
}